<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="row">
            <div class=col-sm-4>Setting <input type="button" class="btn btn-sucess" (click)="onNew()" value=" Add New"></div>
            <div class="col-sm-4 pull-right search-section">
              <input class="form-control" id="namesearch" placeholder="Search By URL" type="text" (keyup)="showCross()" [(ngModel)]="firstNameFilter">
              <i class="fa fa-search" [hidden]="!HideCross"></i> <i class="fa fa-times" [hidden]="HideCross" (click)="onRemove()"></i>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover dataTables-example">
              <thead>
                <tr>
               <ng-container *ngFor="let col of cols">
                    <th *ngIf="col.sortable" class="text-center" (click)="SortColumn(col)">
                      {{col.title}}
                      <ng-container *ngIf="col.sorted==true && col.sortable==true">
                        <i [class]="col.sortAs"></i>
                      </ng-container>
                    </th>
                    <th class="text-center" *ngIf="!col.sortable">{{col.title}}</th>
                  </ng-container>
                </tr>
              </thead>
              <tbody>
                <tr class="gradeX" *ngFor="let c of Settings |userFilter:firstNameFilter| paginate: { itemsPerPage: 10, currentPage: p };let i=index;"
                  [class.active]="i==selectedRow">
                  <td>{{c.serverName}}</td>
                  <td>{{c.clientName}}</td>

                  <td class="text-center">{{c.endPoint}}</td>
                  <td class="text-center">{{c.sourceFile}}</td>
                  <td class="text-center">{{c.status}}</td>

                  <td class="text-center">
                    <a (click)="onEdit(c,i)" class="fa fa-pencil" style="margin-bottom:-2px;"></a>
                    <a (click)="onDel(c)" class="fa fa-trash" style="margin-bottom:-2px;"></a>

                  </td>
                </tr>

              </tbody>
              <tfoot>

                <tr>
                  <td colspan="6" class="footable-visible text-right">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>

        </div>
        <div class="ibox-content" *ngIf="oSetting">
          <form ngNoForm id="SettingForm" novalidate="novalidate">
            <div class="row">
              <div class="col-md-12 form-group">
                <label class="mt-bottom-15">Client detail</label>

              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="col-md-4">Client Name</div>
                <div class="col-md-8"><input class="form-control" [(ngModel)]="oSetting.clientName" name="clientName" id="clientName" required/>                  </div>
              </div>
              <div class="col-md-6">
                <div class="col-md-4">Status</div>
                <div class="col-md-8"><select [(ngModel)]="oSetting.status" class="form-control" name="status" required>
                  <option value="">Please Select</option>
                    <option value="Active">Active</option>
                      <option value="Inactive">Inactive</option>
                  </select> </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <label class="mt-bottom-15">Ftp Server detail</label>


                <div class="row">
                  <div class="col-md-12 form-group">
                    <div class="col-md-6">

                      <div class="col-md-4">Service Type</div>
                      <div class="col-md-8"><select class="form-control" [(ngModel)]="oSetting.serviceType" name="serviceType" required>
                    <option value="">-Please Choose</option>
                      <option value="1">FTP</option>
                       <option value="2">API</option>
                    </select></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <div class="col-md-6">
                      <div class="col-md-4">Url</div>
                      <div class="col-md-8"><input class="form-control" [(ngModel)]="oSetting.serverName" name="serverName" id="serverName" required/>                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="col-md-4">FTP Folder destination</div>
                      <div class="col-md-8"><input class="form-control" [(ngModel)]="oSetting.endPoint" name="endPoint" required /> </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <div class="col-md-6">
                      <div class="col-md-4">User Name</div>
                      <div class="col-md-8"><input class="form-control" [(ngModel)]="oSetting.userName" name="userName" required /> </div>
                    </div>
                    <div class="col-md-6">
                      <div class="col-md-4">Password</div>
                      <div class="col-md-8"><input class="form-control" type="Password" [(ngModel)]="oSetting.password" name="password" required
                        /> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="row">
              <div class="col-md-12 form-group">
                <label class="mt-bottom-15">File Locations( Local or Network Path)</label>


                <div class="row">
                  <div class="col-md-12 form-group">
                    <div class="col-md-6">
                      <div class="col-md-4">Source file location</div>
                      <div class="col-md-8"><input class="form-control" type="text" [(ngModel)]="oSetting.sourceFile" required/> </div>
                    </div>
                    <div class="col-md-6">
                      <div class="col-md-4">Archive location</div>
                      <div class="col-md-8"><input class="form-control" type="text" [(ngModel)]="oSetting.dailyLog" required/> </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <div class="col-md-6">
                      <div class="col-md-4">XML file location</div>
                      <div class="col-md-8"><input class="form-control" type="text" [(ngModel)]="oSetting.xmlFile" required/> </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <label class="mt-bottom-15">History backup (days)</label>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 form-group">
                <div class="col-md-6">
                  <div class="col-md-4">Daily log archive(Days)</div>
                  <div class="col-md-8"><input class="form-control" type="number" [(ngModel)]="oSetting.dailyArchive" name="dailyArchive" required
                    /> </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-4">XML history(Days) </div>
                  <div class="col-md-8"><input class="form-control" type="number" [(ngModel)]="oSetting.xmlHistory" name="xmlHistory" required
                    /> </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 form-group">
                <label class="mt-bottom-15">XML Confirmation email address</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <div class="col-md-6">
                  <div class="col-md-4">Send Email</div>
                  <div class="col-md-8"><select class="form-control" [(ngModel)]="oSetting.sendEmail" name="serviceType" required>
                    <option value="">-Please Choose</option>
                      <option value="1">Yes</option>
                       <option value="2">No</option>
                    </select> </div>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <div class="col-md-6">
                  <div class="col-md-4">User email address</div>
                  <div class="col-md-8"><input class="form-control" type="text" [(ngModel)]="oSetting.userEmail" name="dailyArchive" required />                    </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-4">Client email address</div>
                  <div class="col-md-8"><input class="form-control" type="text" [(ngModel)]="oSetting.clientEmail" name="xmlHistory" required />                    </div>
                </div>
              </div>
            </div>



            <div class="row">

              <div class="col-sm-12">
                <div class="form-group col-sm-12 text-right">
                  <button class="btn btn-primary" type="button" (click)="Save()"><i class="fa fa-save fa-fw"></i> Save</button>
                  <a (click)="onBack()" class="btn btn-white">Cancel</a>
                </div>
              </div>


            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
