<!-- Navigation -->

<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <span>
                        <img alt="EDI-XML" width="160px" src="/images/05.jpg" style="margin-bottom:15px;" />
                    </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
                            <span class="block m-t-xs">
                                <ng-container >  <strong class="font-bold">{{CurrentUser.firstName+' '+CurrentUser.lastName }}</strong></ng-container>
                            </span> <span class="text-muted text-xs block">{{CurrentUser.role}} User<b class="caret"></b></span>
            </span>
          </a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/profile/profile']">Profile</a></li>
            <li class="divider"></li>
            <li><a [routerLink]="['/changePassword/changePassword']">Change Password</a></li>
            <li class="divider"></li>
            <li><a href="Account/Login">Log Out</a></li>

           
          </ul>
        </div>
        <div class="logo-element">
          EDI-XML
        </div>
      </li>
      <li *ngFor="let menu of URLS" routerLinkActive="active">
        <a *ngIf="menu.url" [routerLink]="[menu.url]"><i class="{{menu.cssClass}}"></i> <span class="nav-label">{{menu.text}}</span> </a>
        <a *ngIf="menu.submenu"><i class="{{menu.cssClass}}"></i> <span class="nav-label">{{menu.text}}</span> <span class="fa arrow"></span></a>
        <ul *ngIf="menu.submenu" class="nav nav-second-level collapse ">
          <li *ngFor="let smenu of menu.submenu">
            <a [routerLink]="[smenu.url]">{{smenu.text}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<!-- Page wraper -->
<div id="page-wrapper" class="gray-bg ">
  <!-- Top Navbar -->
  <div class="row border-bottom fixed-header ">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary"><i class="fa fa-bars"></i> </a>
      </div>

      <div style="float:right;margin-top:12px;">

        <button type="button" class="btn btn-w-m btn-link" (click)="SignOut()"><i class="fa fa-sign-out"></i> Log Out</button>

      </div>
    </nav>
  </div>
  <!-- Main view  -->
  <router-outlet></router-outlet>

  <!-- Footer -->
  <div class="footer">
    <div class="pull-right">
      
    </div>
    <div>
      Copyright &copy; 2017 <a href="http://smallarc.com">SmallArc.com</a> . All Rights Reserved.
    </div>
  </div>

</div>

<!-- Page Processing -->



