<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
  <div class="col-lg-6">
    <div class="ibox float-e-margins">
    
      <div class="ibox-content">
        

              
                <div class="table-responsive">
                  <table class="table table-striped table-bordered table-hover dataTables-example">
                    <thead>
                      <tr>
                        <ng-container *ngFor="let col of cols;let i=index;">
                          <th *ngIf="col.sortable" class="text-center" (click)="SortColumn(col,i)">
                            {{col.title}}
                            <ng-container *ngIf="col.sorted==true && col.sortable==true">

                            </ng-container>
                          </th>
                          <th class="text-center" *ngIf="!col.sortable">{{col.title}}</th>
                        </ng-container>
                      </tr>
                    </thead>

                    <tbody>
                      <tr class="gradeX" *ngFor="let d of Dailytrans | slice : 0:3 ;let i=index" [class.active]="i==selectedRow">
                        <td  class="text-center">{{d.receiveTime}}</td>

                        <td class="text-center">{{d.fileName}}</td>

                          <td class="text-center">{{d.records.length}}/{{ getNew(d.records)}}</td>


                      </tr>

                    </tbody>
                  </table>

                </div>


        </div>




      </div>
    </div>
  
  <div class="col-lg-6">
    <div class="ibox float-e-margins">
   
          <div class="ibox-content">
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover dataTables-example">
                <thead>
                  <tr>
                    <ng-container *ngFor="let xol of xols;let i=index;">
                      <th *ngIf="xol.sortable" class="text-center" (click)="XortColumn(xol,i)">
                        {{xol.title}}
                        <ng-container *ngIf="xol.sorted==true && xol.sortable==true">

                        </ng-container>
                      </th>
                      <th class="text-center" *ngIf="!xol.sortable">{{xol.title}}</th>
                    </ng-container>
                  </tr>
                </thead>

                <tbody>
                  <tr class="gradeX" *ngFor="let x of Xmlhistory | slice : 0:3 ;let i=index" [class.active]="i==selectedRow">
                    <td class="text-center">{{x.fileName}}</td>

                    <td class="text-center">{{x.receiveTime}}</td>

                    <td class="text-center">{{x.records.length}}</td>

                  </tr>

                </tbody>
              </table>

            </div>

          </div>

    </div>
  </div>

  <!--<div class="col-lg-4">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <span class="label label-success pull-right">Today</span>
        <h5>System Users</h5>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-md-6">
            <h1 class="no-margins">
              <a [routerLink]="['/Notification/ShowLowLevelItem']"></a>
            </h1>
            <div class="stat-percent font-bold text-success"></div>
            <small>Admin(s)</small> 2
          </div>
          <div class="col-md-6">
            <h1 class="no-margins">
              <a [routerLink]="['/Notification/ShowAll', 60]"></a>
            </h1>
            <div class="stat-percent font-bold text-success"></div>
            <small>Client(s)</small>
          </div>
        </div>
      </div>
    </div>
  </div>-->
</div>

 
            <div class="row">
               <div class="cl-section">
                  <div class="col-md-6 left-column">
                     <div class="setup_left_sec">
                        <div class="onetime">
                           <h4 class="text-white comic-font">One time Setup</h4>
                        </div>
                        <!-- onetime -->
                        <div class="content-box">
                           <div class="centerDiv">
                              <div class="user_sec">
                                 <div class="contentBlock">
                                    <a [routerLink]="['/user']" class="dd1"><img src="images/member_icon.png" alt=""></a>
                                    <div class="sidetitle firstSide">
                                       <p><strong>User <br/>
                                          Setup</strong>
                                       </p>
                                    </div>


                                 </div>
                              </div>
                              <div class="user_sec">
                                 <div class="top_arr_s"><img src="images/arrow.png" alt=""></div>
                              </div>
                              <div class="user_sec">
                                 <div class="contentBlock third-step">
                                    <a [routerLink]="['/setting']"  class="dd1"><img src="images/cog.png" alt=""></a>
                                   
                                    <div class="sidetitle secondSide">
                                       <p><strong>System <br/>
                                          Setup</strong>
                                       </p>
                                    </div>
                                    <div class="right_r"><img src="images/arrow_3.png" alt=""></div>
                                    <div class="right_ff"><img src="images/arrow_2.png" alt=""></div>
                                 </div>
                              </div>
                              <div class="shuttr_main ccp">
                                 <div class="shuttr_left copyp pull-left">
                                    <a [routerLink]="['/freightscode']"  class="dd1"><img src="images/copypen.png" alt=""></a>
                                    
                                    <div class="sidetitle forthSide">
                                       <p><strong>Freight<br/> 
                                          StatusCd</strong>
                                       </p>
                                    </div>

                                 </div>
                                 <div class="shuttr_left scndd pull-right">
                                    <a [routerLink]="['/country']"  class="dd1"><img src="images/location.png" alt=""></a>
                                    <div class="sidetitle thirdSide">
                                       <p><strong>Canada<br/> 
                                          UNLOC <br/>
                                          Database</strong>
                                       </p>
                                    </div>
                                 </div>
                              </div>
                              <div class="clearfix"></div>
                           </div>
                        </div>
                     </div>
                     <div class="clearfix"></div>
                  </div>
                  <div class="col-md-6 right-column">
                     <div class="setup_right_sec">
                        <div class="onetime">
                           <h4 class="text-white comic-font">Process flow to send XML</h4>
                        </div>
                        <!-- onetime -->
                        <div class="content-box">
                           <div class="leftDiv">
                              <div class="right_top">
                                 <div class="right_sec1">
                                    <div class="log">
                                       <div class="contentBlock">
                                          <a [routerLink]="['/dailytran']"  class="dd1"><img src="images/book.png" alt=""/></a>
                                          <div class="sidetitle fifthSide">
                                             <p><strong>Transaction<br/> 
                                                Log</strong>
                                             </p>
                                          </div>
                                          <div class="right_r"><img src="images/arrow_5.png" alt=""></div>
                                          <div class="right_ff"><img src="images/arrow_4.png" alt=""></div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="right_sec1 secondDiv pull-left">
                                    <div class="log lg1">
                                       <div class="contentBlock logAchive">
                                          <a [routerLink]="['/dailytran']"  class="dd1"><img src="images/locker.png" alt=""/></a>
                                          <div class="sidetitle sixthSide">
                                             <p><strong>Transaction<br/> 
                                                Log achive</strong>
                                             </p>
                                          </div>


                                       </div>
                                    </div>
                                 </div>
                                 <div class="right_bott pull-right">
                                    <div class="right_sec1">
                                       <div class="log">
                                          <div class="contentBlock transaction">
                                             <a [routerLink]="['/xmllog']"  class="dd1"><img src="images/attach.png" alt=""/></a>
                                             <div class="sidetitle seventhSide">
                                                <p><strong>Transaction<br/> 
                                                   XML</strong>
                                                </p>
                                             </div>

                                             <div class="right_r"><img src="images/arrow_7.png" alt=""></div>
                                             <div class="right_ff"><img src="images/arrow_6.png" alt=""></div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="shuttr_main">
                                       <div class="shuttr_left bbag pull-left">
                                          <a [routerLink]="['/xmllog']"  class="dd1"><img src="images/bag.png" alt=""></a>
                                          <div class="sidetitle eightSide">
                                             <p><strong>XML<br/> 
                                                Achive</strong>

                                             </p>
                                          </div>
                                       </div>
                                       <div class="shuttr_left scndd ww pull-left">
                                          <a  class="dd1"><img class="img-responsive" src="images/cog-person.png" alt=""></a>
                                         
                                          <div class="sidetitle ninthSide">
                                             <p><strong>Client</strong></p>
                                          </div>
                                          
                                       </div>
                                       <div class="clearfix"></div>
                                    </div>
                                 </div>
                                 <div class="clearfix"></div>
                              </div>
                              <div class="clearfix"></div>
                           </div>
                        </div>
                        <!-- content-box -->
                     </div>
                     <div class="clearfix"></div>
                  </div>
                  <div class="clearfix"></div>
               </div>
            </div>
</div>
